<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PJDM_mySugarLevel_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteValoreServlet</display-name>
    <servlet-name>DeleteValoreServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.mySugarLevel.servlet.DeleteValoreServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>mySugarLevel</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lorenzo1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteValoreServlet</servlet-name>
    <url-pattern>/DeleteValoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertValoreServlet</display-name>
    <servlet-name>InsertValoreServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.mySugarLevel.servlet.InsertValoreServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>mySugarLevel</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lorenzo1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertValoreServlet</servlet-name>
    <url-pattern>/InsertValoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadValoreByDateServlet</display-name>
    <servlet-name>LoadValoreByDateServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.mySugarLevel.servlet.LoadValoreByDateServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>mySugarLevel</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lorenzo1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadValoreByDateServlet</servlet-name>
    <url-pattern>/LoadValoreByDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadValoreByUnaDataServlet</display-name>
    <servlet-name>LoadValoreByUnaDataServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.mySugarLevel.servlet.LoadValoreByUnaDataServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>mySugarLevel</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lorenzo1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadValoreByUnaDataServlet</servlet-name>
    <url-pattern>/LoadValoreByUnaDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadValoreServlet</display-name>
    <servlet-name>LoadValoreServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.mySugarLevel.servlet.LoadValoreServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>mySugarLevel</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lorenzo1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadValoreServlet</servlet-name>
    <url-pattern>/LoadValoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyValoreServlet</display-name>
    <servlet-name>ModifyValoreServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.mySugarLevel.servlet.ModifyValoreServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>mySugarLevel</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>lorenzo1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyValoreServlet</servlet-name>
    <url-pattern>/ModifyValoreServlet</url-pattern>
  </servlet-mapping>
  
</web-app>